---
import Header from "./../components/Header.astro"
import Footer from "./../components/Footer.astro"
---

<Header />
<div id="about-container">
  <div id="about" style="margin-top: 5rem;">
    <h3>File Not Found</h3>
  </div>
  <!-- about -->
</div>
<Footer />
