---
import Header from "./../components/Header.astro"
import About from "./../components/About.astro"
import CaseStudies from "./../components/CaseStudies.astro"
import Footer from "./../components/Footer.astro"
import EvokelabsJS from "./../evokelabsJS.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="author" content="EVOKE LABS" />
    <meta name="description" content="Evokelabs is portfolio home to Sydney based creative developer, Adrian Pikios." />
    <meta name="robots" content="ALL" />
    <meta property="og:title" content="EVOKE LABS" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.evokelabs.com" />
    <meta property="og:site_name" content="EVOKE LABS" />
    <meta property="og:image" content="https://www.evokelabs.com/evokelabs.jpg" />
    <meta property="og:description" content="Adrian Pikios - Sydney based Creative Developer" />
    <meta
      name="keywords"
      content="Evoke Labs, EL, Freelance, Freelancer, Adrian Pikios, Pikios, creative technologist, creative developer, HTML5, HTML5 banners, Flash, Sydney, Australia, Flash, 3D, Animation, Interfaces, Web Site, Web Site Design, Post Production, After Effects, Motion Graphics, New Media, Digital Media, Evolving Media, Evolving Digital Media, Design, Development, Interactive, Interactivite, GUI, Graphic User Interface, Cool Sites, Best Sites, 3d applications, broadband applications, graphic design."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>EVOKE LABS || Sydney Creative Developer</title>
  </head>
  <body>
    <Header />
    <About />
    <CaseStudies />
    <Footer />
  </body>
</html>

<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<EvokelabsJS />
