---
import Header from "./../components/Header.astro"
import Footer from "./../components/Footer.astro"
import EvokelabsJS from "./../evokelabsJS.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="author" content="EVOKE LABS" />
    <meta name="description" content="Evokelabs is portfolio home to Sydney based creative developer, Adrian Pikios." />
    <meta name="robots" content="ALL" />
    <meta property="og:title" content="EVOKE LABS" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.evokelabs.com" />
    <meta property="og:site_name" content="EVOKE LABS" />
    <meta property="og:image" content="https://www.evokelabs.com/evokelabs.jpg" />
    <meta property="og:description" content="Adrian Pikios - Sydney based Creative Developer" />
    <meta
      name="keywords"
      content="Evoke Labs, EL, Freelance, Freelancer, Adrian Pikios, Pikios, creative technologist, creative developer, HTML5, HTML5 banners, Flash, Sydney, Australia, Flash, 3D, Animation, Interfaces, Web Site, Web Site Design, Post Production, After Effects, Motion Graphics, New Media, Digital Media, Evolving Media, Evolving Digital Media, Design, Development, Interactive, Interactivite, GUI, Graphic User Interface, Cool Sites, Best Sites, 3d applications, broadband applications, graphic design."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>EVOKE LABS || Sydney Creative Developer</title>
  </head>
  <body>
    <Header />
    <div class="darkerBG">
      <div id="about-resume">
        <h3>About</h3>
        <div class="HR-resume"></div>
        <div id="aboutdesc-resume">
          <div id="aboutdesc-brief-resume-left">
            <p>
              I’m a creative technologist with a diverse skillset across the areas of digital strategy, digital design, web development, UX,
              WordPress, motion, and 3D.
            </p>
            <p>
              With over 15 years of experience, I work closely with advertising agencies, creative studios, multinational corporations and
              my own clients - to help produce digital campaigns in both team and solo environments.
            </p>
            <p>I excel in digital hybrid roles and am particularly focused on furthering my skills in frontend technologies and VR/AR.</p>
          </div>

          <div id="aboutdesc-brief-resume">
            <h2><span class="highlight">Location</span></h2>
            <h3>Sydney, Australia</h3>
            <h2><span class="highlight">Email</span></h2>
            <h3>adrian@evokelabs.com</h3>
            <h2><span class="highlight">ABN</span></h2>
            <h3>53 470 501 232</h3>
            <h2><span class="highlight">Printable PDF</span></h2>
            <h3><a href="../Adrian-Pikios-Resume.pdf">Download</a></h3>
          </div>
        </div>
        <!-- aboutdesc-resume  -->
      </div>
    </div>
    <!-- about-resume -->

    <div style="clear: both;"></div>
  </body>
  <!-- darkger bg-->
  <div class="darkerLower"></div>

  <div class="casestudy-resume">
    <h3>Experiences</h3>

    <div class="HR-resume"></div>

    <div id="experience-resume">
      <ul class="experience-resume">
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/evokelabs.gif" alt="Evokelabs" /></li>
          <li>Evoke Labs</li>
          <li>Creative Technologist</li>
          <li>April 2004 - Present</li>
          <p>
            Under Evokelabs, I have contracted/freelanced for Australia’s top agencies, including VMLY&R, M&C Saatchi, Akcelo, Ogilvy, Big
            Red Group, AJF Partnership & Richards Rose. My work has been outsourced to world renowned brands, including TikTok, Google,
            Telstra, Optus & Qantas. The projects I work on are typical for the digital space, such as website builds, social media posts,
            mobile apps, public displays, digital advertising, email campaigns, and YouTube mastheads/features.
          </p>
          <p>
            I also deal with my own clients through Evokelabs - looking after small to medium businesses and other entrepreneurs. I
            interface with clients face to face whilst being responsible for admin, management, design, development & delivery of each
            project.
          </p>
        </ul>

        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/Akcelo.gif" alt="Akcelo" /></li>
          <li>Akcelo</li>
          <li>Freelance Frontend Developer</li>
          <li>February 2021 - January 2022</li>
          <p>Specialising in eDM development and CRM integration for Akcelo's various clients.</p>
          <p>
            <strong>• TikTok Canada | Mailchimp CRM</strong><br /> 50+ eDM builds for "TikTok for Creators" ongoing marketing campaign +
            landing page builds + custom Mailchimp template builds.
          </p>
          <p>
            <strong>• TikTok Australia/NZ | Mailchimp CRM</strong><br /> Bi-Monthly eDM builds for "What's Trending" marketing campaign +
            custom Mailchimp template builds.
          </p>
          <p><strong>• PetCulture.com.au | Klaviyo CRM</strong><br /> 40+ dynamic eDM builds integrated with shopify.</p>
          <p><strong>• Wiseman Surf Lodge | Hubspot CRM</strong><br /> 18 customer journey eDM builds.</p>
          <p><strong>• Flave.com | Marsello CRM</strong><br /> 9 customer journey eDM builds.</p>
          <p><strong>• Paramount+</strong><br /> HTML5/ES6 Landing Page build with frontend API integration</p>
        </ul>

        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/flexigroup.gif" alt="FlexiGroup" /></li>
          <li>FlexiGroup Limited (FXL)</li>
          <li>Freelance Frontend Developer / Digital Designer</li>
          <li>March 2019 - March 2021</li>
          <p>
            Contracted as Flexigroup's lead eDM developer - responsible for converting their daily Figma designs into CRM integrated eDM
            campaigns - viewable in every major email client and device setup.
          </p>
          <p>
            I handcoded over a hundred different responsive eDMs. They were tested in Litmus before sent through multiple CRM platforms,
            including MailChimp, Melon Mail and Microsoft’s Dynamics 365 - to hundreds of thousands of email listings.
          </p>
          <p>
            Additional frontend jobs, such as developing websites and Wordpress templates builds for Flexigroup's partners, was also looked
            after by myself.
          </p>
          <p>
            Being a digital designer, I also supplemented their design team in day to day marketing operations. Including designing
            additional eDM builds in Figma, styling PowerPoint sales decks used in external presentations, designing and developing HTML5
            banners, creating graphical tilesets and GIFs for mobile advertising, and producing animations in After Effects for video
            advertising.
          </p>
        </ul>
        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/hyland.gif" alt="Hyland" /></li>
          <li>HYLAND</li>
          <li>Freelance Digital Designer / Developer</li>
          <li>July 2019 - March 2020</li>
          <p>
            Responsible for developing a responsive CMS enabled WordPress site from flat Indesigns files inhouse. Also built HTML5 banners
            for their various clients, including Deliveroo, Nair and Batiste remotely.
          </p>
        </ul>
        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo">
            <img src="</../../../img/resume/UniSyd.gif" alt="University of Sydney" />
          </li>
          <li>University of Sydney</li>
          <li>Freelance Digital Designer / Developer</li>
          <li>December 2018 - January 2019</li>
          <p>Responsible for the design and development of UNSW HTML5 banner suites.</p>
          <p>
            I created PSD designs and their respective resizes for each creative concept. Once approved, these designs were developed into
            interactive HTML5 banners along with their resizes. They were then integrated into Google Doubleclick, were successfully tested
            and pushed live.
          </p>
        </ul>
        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo">
            <img src="</../../../img/resume/richardrose.gif" alt="Richards Rose" />
          </li>
          <li>Richards Rose</li>
          <li>Freelance Digital Designer / Developer</li>
          <li>July 2015 - November 2018</li>
          <p>
            Designed & developed dozens of digital campaigns - including motion builds, HTML5 banner builds, minisite builds, eDM builds,
            and Wordpress builds. Clients include Stan, Mitsubishi, Wild Turkey, Nivea and Skyy Vodka.
          </p>
        </ul>
        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/bigred.gif" alt="Big Red Group" /></li>
          <li>Big Red Group</li>
          <li>Freelance Digital Designer / Developer</li>
          <li>May 2015 - June 2015</li>
          <!-- <li>November 2013 - January 2014</li>-->
          <p>
            Responsible for flash builds, social media design builds, eDM builds, motion builds and other digital assets for brands such as
            Jetstar, Renault and Bupa.
          </p>
        </ul>

        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/ajf.gif" alt="AJF Partnership" /></li>
          <li>AJF Partnership</li>
          <li>Freelance Digital Designer / Developer</li>
          <li>February 2013 - July 2015</li>
          <!-- <li>November 2013 - January 2014</li>-->
          <p>
            Digital consultant for their inhouse team relating to interactive campaigns. Responsible for flash builds, eDM builds, HTML
            builds and motion builds. Clients include News Corp Australia, Mr Men, Rams Home Loans and Perpetual Limited.
          </p>
        </ul>
        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo">
            <img src="</../../../img/resume/tectonic.gif" alt="Tectonic Digital" />
          </li>
          <li>Tectonic Digital</li>
          <li>Digital Designer / Developer</li>
          <li>July 2013 - November 2013 (fulltime)</li>
          <li>November 2013 - Late 2014 (freelance)</li>
          <p>
            Daily responsibilities include responsive HTML builds, flash builds, motion builds, wordpress template builds and CSS/HTML
            frontend development. Most notable works include the art direction and flash builds across official Google products and
            services.
          </p>
        </ul>
        <div class="HR-resume"></div>

        <ul>
          <li class="client-logo"><img src="</../../../img/resume/mc.gif" alt="M&C Saatchi" /></li>
          <li>M&amp;C Saatchi</li>
          <li>Freelance Senior Digital Designer / Developer</li>
          <li>2011 - 2012</li>
          <p>
            Working closely with producers and creative directors, I was responsible for flash builds, motion builds, edm builds, digital
            design and HTML development. Clients include Qantas, Optus, Google, Westfield and Woolworths.
          </p>
        </ul>
        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/relax.gif" alt="Relax Design" /></li>
          <li>Relax Design</li>
          <li>Freelance Digital Designer / Developer</li>
          <li>2004 - 2012</li>
          <p>
            Relax Design is a print and branding agency that need help whenever they produce digital campaigns. I have helped Relax create
            websites, minisites, edms, motion builds and flash presentations for almost ten years.
          </p>
        </ul>

        <div class="HR-resume"></div>
        <ul>
          <li class="client-logo"><img src="</../../../img/resume/vmly.gif" alt="VMLY&R" /></li>
          <li>VMLY&R</li>
          <li>Freelance Digital Designer / Developer</li>
          <li>2006 - 2007</li>
          <p>
            Responsible for minisites, designs, flash builds, actionscript development and edm development for clients such as such Telstra,
            Microsoft and Career One.
          </p>
        </ul>
      </ul>

      <div id="experience-resume-right">
        <h3>Clients</h3>
        <div class="HR-resume"></div>

        <ul>
          <li><img src="</../../../img/resume/Clients29.gif" alt="TikTok" /></li>
          <li><img src="</../../../img/resume/Clients1.gif" alt="Google" /></li>
          <li><img src="</../../../img/resume/Clients2.gif" alt="Optus" /></li>
          <li><img src="</../../../img/resume/Clients3.gif" alt="Telstra" /></li>
          <li><img src="</../../../img/resume/Clients4.gif" alt="Microsoft" /></li>
          <li><img src="</../../../img/resume/Clients5.gif" alt="News Limited" /></li>
          <li><img src="</../../../img/resume/Clients6.gif" alt="Woolworths" /></li>
          <li><img src="</../../../img/resume/Clients7.gif" alt="Westfield" /></li>
          <li><img src="</../../../img/resume/Clients8.gif" alt="Pfizer" /></li>
          <li><img src="</../../../img/resume/Clients9.gif" alt="Career One" /></li>
          <li><img src="</../../../img/resume/Clients10.gif" alt="Aperol" /></li>
          <li><img src="</../../../img/resume/Clients11.gif" alt="Donut King" /></li>
          <li><img src="</../../../img/resume/Clients12.gif" alt="Frangelico" /></li>
          <li><img src="</../../../img/resume/Clients13.gif" alt="Helga's Bakehouse" /></li>
          <li><img src="</../../../img/resume/Clients14.gif" alt="Michel's Patisserie" /></li>
          <li><img src="</../../../img/resume/Clients15.gif" alt="Mr Men." /></li>
          <li><img src="</../../../img/resume/Clients16.gif" alt="Rams Homeloans" /></li>
          <li><img src="</../../../img/resume/Clients17.gif" alt="Skyy Vodka" /></li>
          <li><img src="</../../../img/resume/Clients18.gif" alt="Wattyl Paints" /></li>
          <li><img src="</../../../img/resume/Clients19.gif" alt="Wild Turkey" /></li>
          <li><img src="</../../../img/resume/Clients20.gif" alt="Bupa" /></li>
          <li><img src="</../../../img/resume/Clients21.gif" alt="Renault" /></li>
          <li><img src="</../../../img/resume/Clients22.gif" alt="Jetstar" /></li>
          <li><img src="</../../../img/resume/Clients23.gif" alt="Perpetual" /></li>
          <li><img src="</../../../img/resume/Clients24.gif" alt="Mitshbishi" /></li>
          <li><img src="</../../../img/resume/Clients25.gif" alt="University of Sydney" /></li>
          <li><img src="</../../../img/resume/Clients26.gif" alt="Humm" /></li>
          <li><img src="</../../../img/resume/Clients27.gif" alt="Bundll" /></li>
        </ul>

        <h3>Agencies</h3>
        <div class="HR-resume"></div>
        <ul>
          <li><img src="</../../../img/resume/Agency15.gif" alt="Akcelo" /></li>
          <li><img src="</../../../img/resume/Agency16.gif" alt="Flexigroup" /></li>
          <li><img src="</../../../img/resume/Agency1.gif" alt="AJF Partnership" /></li>
          <li><img src="</../../../img/resume/Agency2.gif" alt="George Pattenson Y&R" /></li>
          <li><img src="</../../../img/resume/Agency3.gif" alt="M&C Saatchi" /></li>
          <li><img src="</../../../img/resume/Agency4.gif" alt="Wunderman" /></li>
          <li><img src="</../../../img/resume/Agency5.gif" alt="Tectonic Digital" /></li>
          <li><img src="</../../../img/resume/Agency6.gif" alt="Orchard Marketing" /></li>
          <li><img src="</../../../img/resume/Agency7.gif" alt="Powerhouse Productions" /></li>
          <li><img src="</../../../img/resume/Agency8.gif" alt="Relax Design" /></li>
          <li><img src="</../../../img/resume/Agency10.gif" alt="Big Red Group" /></li>
          <li><img src="</../../../img/resume/Agency11.gif" alt="Richards Rose" /></li>
          <li><img src="</../../../img/resume/Agency12.gif" alt="Flexigroup" /></li>
          <li><img src="</../../../img/resume/Agency13.gif" alt="Hyland" /></li>
        </ul>
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
  <!-- casestudy-resume -->

  <div class="darkerUpper"></div>
  <div class="darkerBG">
    <div class="casestudy-resume">
      <h3>Skills</h3>
      <div class="HR-resume"></div>

      <div id="skills-resume">
        <div id="skills-resume-left">
          <h2>Strategy</h2>

          <ul>
            <li>
              <img src="</../../../img/resume/Strategy1.gif" alt="Communication Public Speaking" /><p>Communication Public Speaking</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy2.gif" alt="User Experience Design (UX)" /><p>User Experience Design (UX)</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy3.gif" alt="User Interface Design (UI)" /><p>User Interface Design (UI)</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy4.gif" alt="Banner Builds" /><p>Banner Builds</p>
            </li>
            <li><img src="</../../../img/resume/Strategy5.gif" alt="Edms" /><p>Edms</p></li>
            <li>
              <img src="</../../../img/resume/Strategy6.gif" alt="Minisite Production" /><p>Minisite Production</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy7.gif" alt="Motion Builds" /><p>Motion Builds</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy8.gif" alt="Video Production" /><p>Video Production</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy9.gif" alt="3D Production" /><p>3D Production</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy11.gif" alt="Front End Development" /><p>Front End Development</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy12.gif" alt="Back End Development" /><p>Back End Development</p>
            </li>
            <li>
              <img src="</../../../img/resume/Strategy10.gif" alt="Mobile App Development" /><p>Mobile App Development</p>
            </li>
          </ul>

          <h2>Design</h2>

          <ul>
            <li><img src="</../../../img/resume/Design1.gif" alt="Photoshop CC" /><p>Photoshop CC</p></li>
            <li>
              <img src="</../../../img/resume/Design2.gif" alt="Illustrator CC" /><p>Illustrator CC</p>
            </li>
            <li>
              <img src="</../../../img/resume/Design3b.gif" alt="XD CC" /><p>Experience Designer CC</p>
            </li>
            <li><img src="</../../../img/resume/Design3.gif" alt="Flash CC" /><p>Animate CC</p></li>
            <li>
              <img src="</../../../img/resume/Design4.gif" alt="After Effects CC" /><p>After Effects CC</p>
            </li>
            <li>
              <img src="</../../../img/resume/Design5.gif" alt="Premiere Pro CC" /><p>Premiere Pro CC</p>
            </li>
            <li>
              <img src="</../../../img/resume/Design6.gif" alt="Dreamweaver CC" /><p>Dreamweaver CC</p>
            </li>
            <li><img src="</../../../img/resume/Design6.gif" alt="Indesign CC" /><p>Indesign CC</p></li>
            <li><img src="</../../../img/resume/Design7.gif" alt="3dsmax 2013" /><p>3dsmax</p></li>
            <li><img src="</../../../img/resume/Design8.gif" alt="Zbrush 4R5" /><p>Zbrush</p></li>
            <li><img src="</../../../img/resume/Design9.gif" alt="Cubase 6.5" /><p>Audition / Cubase</p></li>
            <li><img src="</../../../img/resume/Figma.gif" alt="Figma" /><p>Figma</p></li>
          </ul>

          <h2>Development</h2>

          <ul>
            <li><img src="</../../../img/resume/Development1.gif" alt="HTML 5" /><p>HTML 5</p></li>
            <li><img src="</../../../img/resume/Development2.gif" alt="CSS 3" /><p>CSS 3</p></li>
            <li>
              <img src="</../../../img/resume/Javascript.gif" alt="Javascript" /><p>Javascript ES6/ES8</p>
            </li>
            <li><img src="</../../../img/resume/WouldLikeToLearn2.gif" alt="React" /><p>React.js</p></li>
            <li><img src="</../../../img/resume/WouldLikeToLearn1.gif" alt="NodeJS" /><p>NodeJS</p></li>
            <li><img src="</../../../img/resume/WouldLikeToLearn6.gif" alt="MongoDB" /><p>MongoDB</p></li>
            <li><img src="</../../../img/resume/Development3.gif" alt="AS2 / AS3" /><p>AS2 / AS3</p></li>
            <li><img src="</../../../img/resume/Development4.gif" alt="JQuery" /><p>JQuery</p></li>
            <li><img src="</../../../img/resume/Development5.gif" alt="XML" /><p>XML</p></li>
            <li><img src="</../../../img/resume/Development6.gif" alt="Wordpress" /><p>Wordpress</p></li>
            <li><img src="</../../../img/resume/Development7.gif" alt="PHP" /><p>PHP</p></li>
            <li><img src="</../../../img/resume/github.gif" alt="PHP" /><p>GitHub</p></li>
            <li><img src="</../../../img/resume/Development8.gif" alt="WooCommerce" /><p>WooCommerce</p></li>
            <li><img src="</../../../img/resume/Development9.gif" alt="SASS" /><p>SASS</p></li>
            <li><img src="</../../../img/resume/Development11.gif" alt="GSAP" /><p>GSAP</p></li>
            <li><img src="</../../../img/resume/WouldLikeToLearn8.gif" alt="GraphQL" /><p>GraphQL</p></li>
          </ul>
        </div>

        <div id="skills-resume-right">
          <!-- <h2><span class="highlight">Interests</span></h2>

                <ul>

                    <li><img src="</../../../img/resume/Interests1.gif" alt ="Fitness" /></li>
                    <li><img src="</../../../img/resume/Interests2.gif" alt ="YouTube" /></li>
                    <li><img src="</../../../img/resume/Interests3.gif" alt ="Kindle" /></li>
                    <li><img src="</../../../img/resume/Interests4.gif" alt ="Toastmasters International" /></li>
                    <li><img src="</../../../img/resume/Interests6.gif" alt ="Motorbikes" /></li>
                    <li><img src="</../../../img/resume/Interests7.gif" alt ="Steam" /></li>
                    <li><img src="</../../../img/resume/Interests3.gif" alt ="Dota2" /></li>

                </ul> -->
        </div>
      </div>
    </div>
    <!-- work feature-->
    <div class="darkerLower"></div>
  </div>
  <!-- darkerBG -->
  <Footer />

  <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <EvokelabsJS />
</html>
