<div class="darkerBG">
  <div id="about-container">
    <div id="about">
      <h3>Evoke Labs does digital</h3><br />
      <h4><span id="likeText">like night follows day</span></h4>
      <div class="HR"></div>
      <div id="aboutdesc">
        <p>
          Evokelabs is home to Adrian Pikios, <span class="highlight"><span id="soloText">a creative technologist</span></span> who uses the
          powers of <span class="highlight"><span id="powerText">computers</span></span> to design, develop &amp; create <span
            class="highlight"><span id="describeText">evoking</span></span
          > digital experiences.
        </p>
        <p>When not working on personal projects, I partner with brands and agencies to help produce their digital campaigns.</p>
        <p id="testimonials"></p>
      </div>
      <div id="aboutvideo">
        <div id="aboutvideodiv">
          <div id="aboutSlider">
            <img src="/img/clients/tiktok.gif" />
            <img src="/img/clients/google.gif" />
            <img src="/img/clients/yesoptus.gif" />
            <img src="/img/clients/newsAustralia.gif" />
            <img src="/img/clients/telstra.gif" />
            <img src="/img/clients/westfield.gif" />
            <img src="/img/clients/mcsaatchi.gif" />
            <img src="/img/clients/georgePatts.gif" />
            <img src="/img/clients/wunderman.gif" />
            <img src="/img/clients/ajf.gif" />
          </div>
        </div>
      </div>
      <!-- aboutdesc  -->
    </div>
    <!-- about -->
  </div>
  <!-- about-container -->
  <!-- darkger bg-->
  <div class="darkerLower"></div>
</div>
