<div class="casestudy">
  <h1 style="letter-spacing:0px;">show reel <!--?php echo date("Y"); ?--></h1>
  <h2 style="color:#ff8c32;">The latest from Evoke Labs and our favourite projects</h2>

  <div class="video-reel">
    <video
      src="https://d19s7v0o35zltc.cloudfront.net/Evokelabs2022-Reel.mp4"
      autoplay
      muted
      controls
      loop
      poster="/img/casestudies/Evokelabs2022-Reel.jpg"></video>
  </div>
</div>
<!-- videoReel -->

<div class="darkerUpper"></div>
<div class="darkerBG">
  <div class="casestudy">
    <h1>Case Studies</h1>
    <h2 style="color: #61371a;">A collection of projects I've worked on that are worth talking about</h2>
    <div class="HR"></div>

    <div id="showcase">
      <ul></ul>
    </div>
    <!-- showcase -->

    <div id="workfeature">
      <div id="workfeature-left">
        <h1></h1>
        <h1></h1>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p></p>
        <a href="#"><h1>Back X</h1></a>
      </div>
      <!--workfeature-left-->

      <div class="HR"></div>
      <a href="http://www.evokelabs.com" target="_blank" class="view-this-piece"><h2>View this piece</h2></a>
      <a href="#"><h2>Back to works</h2></a>
    </div>
    <!-- work feature-->
  </div>
  <!-- work feature-->
  <div class="darkerLower"></div>
</div>
<!-- darkerBG -->
