---
import "./../evokelabs.css"
---

<header>
  <div id="logo">
    <a href="http://www.evokelabs.com"><img src="/img/evokelabslogo.gif" alt="Evokelabs logo ball" /></a>
  </div>

  <div id="headerIcons">
    <ul>
      <a href="https://github.com/evokelabs" target="_blank"><li><img src="/img/icongithub.png" alt="GitHub" /></li></a>
      <a href="http://www.youtube.com/evokelabs" target="_blank"><li><img src="/img/iconyoutube.png" alt="YouTube" /></li></a>
      <a href="https://www.linkedin.com/in/adrianpikios/" target="_blank"><li><img src="/img/iconlinked.png" alt="LinkedIn" /></li></a>
      <a href="mailto:adrian@evokelabs.com"><li><img src="/img/iconmail.png" alt="Email" /></li></a>
    </ul>
  </div>
  <div id="headertitles">
    <h1>Evoke Labs</h1>
    <h2>Digital Strategy • Design • Development • Wordpress • Motion • UX</h2>
  </div>
</header>
<div class="darkerUpper"></div>
